interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.nexmo.com/v2/verify
  response:
    content: '{"type":"https://developer.nexmo.com/api-errors#unauthorized","title":"Unauthorized","detail":"You
      did not provide correct credentials.","instance":"bb9ee2e7-eb75-43e0-8403-794d1a025ada"}'
    headers:
      Content-Type:
      - application/problem+json
      X-Nexmo-Trace-Id:
      - bb9ee2e7-eb75-43e0-8403-794d1a025ada
      X-Traceid:
      - bb9ee2e7-eb75-43e0-8403-794d1a025ada
    status_code: 401
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/2fa/init
  response:
    content: '{"detail":"Can''t create OTP code!"}'
    headers:
      content-type:
      - application/json
    status_code: 400
version: 1
