interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.nexmo.com/v2/verify
  response:
    content: '{"request_id":"f21d35d8-32f4-4021-8944-69055d53ed6f"}'
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 30, 30;w=1;name="crd|account_id|generic_key^nexmo-verify.verify-v2|generic_key^solo.setDescriptor.uniqueValue|rate_limit_band^30"
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1'
    status_code: 202
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/2fa/init
  response:
    content: '{"message":"OTP sent for verification"}'
    headers:
      content-type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.nexmo.com/v2/verify/b'f21d35d8-32f4-4021-8944-69055d53ed6f'
  response:
    content: '{"title":"Invalid params","detail":"The value of one or more parameters
      is invalid","instance":"dffb5cf2-2f20-4b83-913e-ea923a549d0c","type":"https://www.nexmo.com/messages/Errors#InvalidParams","invalid_parameters":[{"name":"code","reason":"Code
      must be an alphanumeric string between 4 and 10 characters long"}]}'
    headers:
      Content-Type:
      - application/problem+json
      X-Ratelimit-Limit:
      - 30, 30;w=1;name="crd|account_id|generic_key^nexmo-verify.verify-v2|generic_key^solo.setDescriptor.uniqueValue|rate_limit_band^30"
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1'
    status_code: 422
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://testserver/2fa/verify
  response:
    content: '{"detail":"Provided OTP code is not valid"}'
    headers:
      content-type:
      - application/json
    status_code: 400
version: 1
